<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.apps.question.mapper.QuestionMapper">

    <select id="selectJavaQuestion" resultType="Question" parameterType="Question">
        SELECT *
          FROM QUIZ
         WHERE CATEGORY = 'java'
           AND NO = #{no}
    </select>

    <select id="selectCountQuestion" resultType="int" parameterType="Question">
        SELECT COUNT(*)
          FROM QUIZ
         WHERE CATEGORY = #{category}
    </select>

    <select id="selectAnswer" resultType="Answer" parameterType="Answer">
        SELECT *
          FROM ANSWER A INNER JOIN QUIZ U
               ON A.QUIZ_ID = Q.QUIZ_ID
         WHERE A.QUIZ_ID = #{quizID}
    </select>

    <insert id="insertQuestion" parameterType="question">
        INSERT
          INTO QUIZ
             ( QUIZ_ID
             , CATEGORY
             , QUIZ_INFO
             , INSERT-ID
             , INSERT_DATE
             , MODIFY_ID
             , MODIFY_DATE
             , NO )
        VALUES
             ( #{quizID, jdbcType=NUMERIC}
             , #{category, jdbcType=VARCHAR}
             , #{quizInfo, jdbcType=VARCHAR}
             , #{insertId, jdbcType=VARCHAR}
             , #{insertDate, jdbcType=DATE}
             , #{modifyId, jdbcType=VARCHAR}
             , #{modifyDate, jdbcType=DATE}
             , #{no, jdbcType=NUMERIC} )
    </insert>

    <select id="selectQuiz" resultType="Question">
        SELECT *
          FROM QUIZ
    </select>
</mapper>
