<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.apps.question.mapper.QuestionMapper">

    <select id="selectJavaQuestion" resultType="Question" parameterType="Question">
        select * from quiz where category ='java' and no =#{no};
    </select>

    <select id="selectCountQuestion" resultType="int" parameterType="Question">
        select count(*) from quiz where category = #{category};
    </select>

    <select id="selectAnswer" resultType="Answer" parameterType="Answer">

        SELECT *
        FROM ANSWER a INNER JOIN QUIZ q ON a.QUIZ_ID = q.QUIZ_ID
        WHERE a.QUIZ_ID = #{quizID};

    </select>
</mapper>