<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.apps.question.mapper.QuestionMapper">

    <select id="selectJavaQuestion" resultType="Question" parameterType="Question">
        select * from quiz where category ='java' and no =#{no};
    </select>

    <select id="selectAnswer" resultType="Answer" parameterType="Answer">

        select * from answer where quiz_id = #{quizID}

    </select>
</mapper>